   @model dynamic
   @{
       ViewData["Title"] = "Books";
   }

   <h1>Books About Sophia Loren</h1>
   <ul>
       <li>Beware of Dog (2014)</li>
       <li>Sophia Loren: The Fall and Rise of an Italian Diva (2013)</li>
       <li>Sophia Loren: A Biography (2003)</li>
   </ul>
   
