   @model dynamic
   @{
       ViewData["Title"] = "Movies";
   }

   <h1>Sophia Loren's Movies</h1>
   <ul>
       <li>Two Women (1960)</li>
       <li>A Special Day (1977)</li>
       <li>El Cid (1961)</li>
       <li>Marriage Italian Style (1964)</li>
       <li>Sunflower (1970)</li>
   </ul>
   
